<!doctype html>
<html lang="id">
  
  <%- include('../partials/head.ejs') %>
    <title>History</title>
    <link href="/css/navAndSidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></style>
    
  </head>

  <body>
    <%- include('../partials/navAndSideBar.ejs') %>
      <div class="user-table w-auto m-5 bg-light p-5">
        <table id="userTable" class="table table-striped table-bordered table-responsive table-hover" >  
        <thead>  
          <tr>  
            <th>Nama Customer</th>  
            <th>Tanggal</th>  
            <th>Device</th>
            <%- user.jabatan === "Admin" ? "<th>Operator</th>" : null %>
            <th>Aksi</th>  
          </tr>  
        </thead>  
        <tbody> 
          <% configs.forEach((config)=>{ %>
            <tr>  
              <td><%= config.nama_customer %></td>  
              <td><%= new Date(config.createdAt).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>
              </td>  
              <td><%= config.jenis_perangkat %></td>
              <%- user.jabatan === "Admin" ? '<td>'+ 
                  users.find(({ id }) => id === config.id_opearator).nama +'</td>' : null
              %>
              <td>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <a class="btn btn-primary" href='<%=baseUrl%>/dashboard/detail_config/<%= config.id %>'>
                      <i class="bi bi-info-circle"></i>
                    </a>
                    <a class="btn btn-warning" href='<%=baseUrl%>/dashboard/edit_config/<%= config.id %>'>
                      <i class="bi bi-pencil-square"></i>
                    </a>
                    <button class="btn btn-danger" type="button" onclick="hapusConfig(<%= config.id %>)">
                      <i class="bi bi-trash"></i></i>
                    </button>
                  </div>
              </td> 
            </tr>       
          <% }) %>
           
        </tbody>  
        </table>
      </div>
    <%- include('../partials/navAndSideBarLanjutan.ejs') %>

    <%- include('../partials/scriptCdn.ejs') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <%- include('../partials/dashboardScript.ejs') %>
    <script>
      $(document).ready(function(){
        $('#userTable').dataTable();
      });
    </script>
    <script type="text/javascript">
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success me-5',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })

      function hapusConfig(id) {
        swalWithBootstrapButtons.fire({
          title: 'Apakah Anda Yakin Ingin Menghapus Config?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ya, hapus',
          cancelButtonText: 'Batal'
        }).then((result) => {
          if (result.isConfirmed) {
            deleteConfig(id).then(()=>{
              window.location.replace(`${API_URL}/dashboard/history`)
              swalWithBootstrapButtons.fire(
                'Hapus Berhasil!',
                'Config Telah Berhasil di Hapus',
                'success'
              )
            })
            
          } else if (
            result.dismiss === Swal.DismissReason.cancel
          ) {
            
          }
        })
    }

    </script>

  </body>

</html>