<!doctype html>
<html lang="id">
  
  <%- include('../partials/head.ejs') %>
    <title>Input Config</title>
    <link href="/css/navAndSidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  </head>

  <body>
    <%- include('../partials/navAndSideBar.ejs') %>
    <div class="row mt-5 ms-5">
      <label class="col-1 col-form-label">Perangkat: </label>
      <div class="col-3">
        <select class="form-select" id="jenis_perangkat">
          <option value="">Pilih Perangkat</option>
          <option value="H3C">H3C</option>
          <option value="BDCOM">BDCOM</option>
        </select>
        <div id="cekJenisPerangkat" class="invalid-feedback">
          Perangkat belum dipilih
        </div>     
     </div>
    </div>
    <div class="container mt-4 bg-white">
      <h5 class="py-3">Silahkan inputkan terminasi perangkat .</h5>
      <div class="row row-cols-2 g-3">

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="namaCustomer" class="col-sm-3 col-form-label px-0">Nama Customer:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="namaCustomer">
              <div id="cekNamaCustomer" class="invalid-feedback">
                Nama Customer tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="subnet" class="col-sm-3 col-form-label px-0">Subnet:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="subnet">
              <div id="cekSubnet" class="invalid-feedback">
                Subnet tidak boleh kosong
              </div>
            </div>
          </div>
        </div> 

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="namaPerangkat" class="col-sm-3 col-form-label px-0">Nama Perangkat:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="namaPerangkat">
              <div id="cekNamaPerangkat" class="invalid-feedback">
                Nama Perangkat tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="ipRoute" class="col-sm-3 col-form-label px-0">Ip Route:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="ipRoute">
              <div id="cekIpRoute" class="invalid-feedback">
                Nama Perangkat tidak boleh kosong
              </div>
            </div>
          </div>
        </div> 

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="layanan" class="col-sm-3 col-form-label px-0">Layanan:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="layanan">
              <div id="cekLayanan" class="invalid-feedback">
                Layanan tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="portPerangkat" class="col-sm-3 col-form-label px-0">Port Perangkat:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="portPerangkat">
              <div id="cekPortPerangkat" class="invalid-feedback">
                Port Perangkat tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="vlanLayanan" class="col-sm-3 col-form-label px-0">Vlan layanan:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="vlanLayanan">
              <div id="cekVlanLayanan" class="invalid-feedback">
                Vlan Layanan tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="deskripsiPerangkat" class="col-sm-3 col-form-label px-0">Deskripsi Perangkat:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="deskripsiPerangkat">
              <div id="cekDeskripsiPerangkat" class="invalid-feedback">
                Deskripsi Perangkat tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="vlanNms" class="col-sm-3 col-form-label px-0">Vlan NMS:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="vlanNms">
              <div id="cekVlanNms" class="invalid-feedback">
                Vlan NMS tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="portTrunk" class="col-sm-3 col-form-label px-0">Port Trunk:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="portTrunk">
              <div id="cekPortTrunk" class="invalid-feedback">
                Port Trunk tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="ipAddress" class="col-sm-3 col-form-label px-0">IP Address:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="ipAddress">
              <div id="cekIpAddress" class="invalid-feedback">
                Ip address tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row mb-3 justify-content-center">
            <label for="deskripsiTrunk" class="col-sm-3 col-form-label px-0">Deskripsi Trunk:</label>
            <div class="col-sm-3 px-0">
              <input type="text" class="form-control px-0" id="deskripsiTrunk">
              <div id="cekNamaPerangkat" class="invalid-feedback">
                Deskripsi Trunk tidak boleh kosong
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="hstack">
        <button onclick="tambahTombol(<%= user.id %>)" class="btn btn-primary btn-lg mx-auto mt-3 mb-3" 
          id="save" type="button"
        >
          Save
        </button>
      </div>

    </div>

    <%- include('../partials/navAndSideBarLanjutan.ejs') %>
    
    <%- include('../partials/scriptCdn.ejs') %>
    <%- include('../partials/dashboardScript.ejs') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/js/validationConfig.js"></script>
    <script type="text/javascript">

        // tambah button
      function tambahTombol(id) {
        validateNamaCustomer();
        validateSubnet();
        validateCekNamaPerangkat();
        validateIpRoute();
        validateLayanan();
        validatePortPerangkat();
        validateVlanLayanan();
        validateVlanNms();
        validatePortTrunk();
        validateIpAddress();
        validatejenis_perangkat();

        if (
          namaCustomerError == false &&
          subnetError == false &&
          namaPerangkatError == false &&
          ipRouteError == false &&
          layananError == false &&
          portPerangkatError == false &&
          vlanLayananError == false &&
          vlanNmsError == false &&
          portTrunkError == false &&
          ipAddressError == false &&
          jenis_perangkatError == false
          
        ) {
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-success me-5',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })

          swalWithBootstrapButtons.fire({
            title: 'Yakin Ingin Menambahkan Config',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Ya, Tambahkan!',
            cancelButtonText: 'Batal!',
          }).then((result) => {
            if (result.isConfirmed) {
              tambahConfig(
              $("#jenis_perangkat").val(), $("#namaCustomer").val(), $("#namaPerangkat").val(), 
              $("#layanan").val(), $("#vlanLayanan").val(), $("#vlanNms").val(), 
              $("#ipAddress").val(), $("#subnet").val(), $("#ipRoute").val(), $("#portPerangkat").val(), 
              $("#deskripsiPerangkat").val(), $("#portTrunk").val(), $("#deskripsiTrunk").val(),
              id 
              )
              .then(()=>{
                window.location.replace(`${API_URL}/dashboard/history`)
              })

            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              
            }
          })
          
        } else {
          
        }
      }

    </script>

  </body>

</html>